@font-face{
	font-family:cascadia code;
	font-style:normal;
	font-weight:400;
	src:
		local('Cascadia Code'),
		url(https://www.wich.fun/resources/font/cascadiacode/CascadiaCode.woff) format('woff');
}