:root {
	--gray:#959595;
	--svg-gray: invert() brightness(0.58);
}
:root, html[data-theme='light'] {
	--background-color: #ffffff;
	--text-color: #000000;
	--svg-filter: brightness(0);
}
html[data-theme='dark'] {
	--background-color: #2b2b2b;
	--text-color: #ffffff;
	--svg-filter: brightness(0) invert();
}

*, html {
	font-family: 'Cascadia Code', sans-serif;
	color:var(--text-color);
}
body {
	margin:0;
	background-color:var(--background-color);
}
header {
	top:0;
	position:fixed;
	width:100%;
	z-index:100;
}
footer {
	text-align:center;
	padding-top:24px;
	padding-bottom:24px;
	cursor:default;
	width:100%;
}
hr {
	margin: 1em 0;
	border: 2px solid;
	border-color:var(--gray);
}
.content {
	margin-top:53px;
	padding:32px 24px 16px 24px;
}
h1, h2, h3, h4 { text-align:center }
.show { display:block!important; }
.hide { display:none; }
@media (max-width:570px) { .navBar .navButton { display:none!important; } }
@media (min-width:571px) { .hide-large { display:none!important; } }
[data-theme='light'] .display-light, [data-theme='dark'] .display-dark {
	display:block;
}
[data-theme='dark'] .display-light, [data-theme='light'] .display-dark {
	display:none;
}
.display-none { display:none; }

.navBar {
	text-align:left;
	font-size:18pt;
	width:100%;
	background-color:var(--background-color);
	overflow:hidden;
}
.navSticker, .navButton {
	text-align:center;
	text-decoration:none;
	background-color:var(--background-color);
	padding:12px 24px;
}
.navSticker:hover, .navButton:hover {
	background-color:var(--gray);
}
.navBar .navButton, .navSticker {
	float:left;
	width:auto;
	border:none;
	display:block;
	outline:0;
	white-space:normal;
}
.navDropdown {
	font-size:18pt;
	display:none;
}
.navDropdown .navButton {
	width:100%;
	display:block;
	text-align:left;
	border:none;
	white-space:normal;
	float:none;
	outline:0;
}

.hamburgerMenu {
	font-size:18pt;
	text-decoration:none;
	padding:12px 24px;
	float:right!important;
	cursor:pointer
}
.darkModeToggle {
	font-size:18pt;
	display:flex;
	padding:12px 24px;
	float:right!important;
	cursor:pointer;
	border-style: hidden;
}

.social-icon {
	text-decoration:none;
	cursor:pointer;
}
.social-icon img {
	height:24px;
	width:24px;
}
.social-icon img, .display-dark img, .display-light img {
	filter:var(--svg-filter);
}
.social-icon img:hover {
	filter:none;
}
.skill-icon {
	text-decoration:none;
	margin:4px;
}
.skill-icon img {
	height:48px;
	width:48px;
}
.copyright {
	font-size:75%;
}

.no-save-img {
	pointer-events: none;
}

.showcase-group {
	display:flex;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
}
.showcase {
	height:324px;
	width:600px;
	min-width:600px;
	margin:32px;
	padding:16px;
	display:flex;
	border: 8px solid;
	border-color:var(--gray);
	border-radius:16px;
}
.commission-gallery {
	flex:1;
	max-width:50%;
}
.commission-description {
	flex:1;
}
.showcase .carousel-inner model-viewer {
	width:300px;
	height:300px;
}

/* Bootstrap Carousel */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}
.carousel {
	position: relative;
}
.carousel-inner {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.carousel-inner > .item {
	position: relative;
	display: none;
	-webkit-transition: 0.6s ease-in-out left;
	-o-transition: 0.6s ease-in-out left;
	transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	line-height: 1;
}
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
	display: block;
}
.carousel-inner > .active {
	left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
	position: absolute;
	top: 0;
	width: 100%;
}
.carousel-inner > .next {
	left: 100%;
}
.carousel-inner > .prev {
	left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
	left: 0;
}
.carousel-inner > .active.left {
	left: -100%;
}
.carousel-inner > .active.right {
	left: 100%;
}
.carousel-control {
	position: absolute;
	cursor: pointer;
	top: 0;
	bottom: 0;
	left: 0;
	width: 15%;
	font-size: 20px;
	text-align: center;
}
.carousel-control.left {
}
.carousel-control.right {
	right: 0;
	left: auto;
}
.carousel-control img {
	height:48px;
	width:48px;
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	margin-top: -10px;
	filter:var(--svg-gray);
}
.carousel .left img {
	left: 50%;
	margin-left: -10px;
}
.carousel .right img {
	right: 50%;
	margin-right: -10px;
}
.carousel-indicators {
	position: absolute;
	bottom: -48px;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
}
.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: var(--background-color);
	border: 1px solid;
	border-radius: 10px;
	border-color: var(--gray);
}
.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: var(--gray);
}